.navbar__link{
    color: var(--text);
    font-size: 1.7rem;
    text-decoration: none;
    padding: 1rem;
    margin: 0 0.25rem;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}

.nav-active{
    border-bottom: 4px solid var(--important);
}

