.title-404
{
    font-size: 200px;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: var(--text);
}

.important-404{
    color: var(--important);
}

.not-found-text{
    font-size: 70px;
    font-family: 'Cabin', sans-serif;
    color: var(--secondary-text);
}